In [1]:
import pandas as pd

In [2]:
kaggle_metadata = pd.read_csv(f'movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'ratings.csv')

In [3]:
wiki_movies_raw_df = pd.DataFrame(kaggle_metadata)
ratings_raw_df = pd.DataFrame(ratings)

In [4]:
wiki_movies_raw_df.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
11720,False,NaN,16000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",http://video.movies.go.com/thelookout/,8270,tt0427470,en,The Lookout,Chris is a once promising high school athlete ...,...,2007-03-09,5367030.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Whoever has the money has the power,The Lookout,False,6.6,209.0
29673,False,NaN,0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",NaN,15165,tt0426955,en,Barbie as The Princess & the Pauper,In her first animated musical featuring seven ...,...,2004-09-28,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Barbie as The Princess & the Pauper,False,6.9,193.0
3892,False,NaN,6,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,12509,tt0183659,en,Pollock,"In August of 1949, Life Magazine ran a banner ...",...,2000-09-06,8.0,122.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A true portrait of life and art.,Pollock,False,6.6,91.0
36581,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,195732,tt0341378,en,The Ghost Train,Special effects film with a train double expos...,...,1901-01-21,0.0,1.0,"[{'iso_639_1': 'xx', 'name': 'No Language'}]",Released,NaN,The Ghost Train,False,5.0,1.0
572,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,68806,tt0108059,it,La scorta,"The film shows the difficulties of an honest, ...",...,1993-01-01,0.0,92.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,The Escort,False,5.0,5.0

In [5]:
ratings_raw_df.sample(n=5)

          userId  movieId  rating   timestamp
12543317  130147   143385     3.5  1491158097
8318061    85725     1242     3.0  1014342347
2697714    27963   132140     2.5  1452270375
20730534  215429    55721     4.5  1367680764
14284838  148305      256     3.0  1204791700